```
# Dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
.MF
tags
TAGS
id
*.sublime-workspace
*.swp
*.swo
*~
.project
.pydevproject
.metadata
bin/
dist/
build/
```